html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app, .container, .panel-container {
  height: 100%;
  width: 100%;
}

.panel-container {
  display: flex;
  height: calc(100% - 22px);
}

.loading {
  padding: 10px;
}

.panel {
  align-items: stretch;
  overflow-y: auto;
}
.panel.control-deck {
  background: rgb(243, 243, 243);
  min-width: 225px;
}
.panel.left {
  border-right: 1px solid rgb(163, 163, 163);
}
.panel.content {
  padding: 10px 15px;
  width: 100%;
}
.panel.content.with-heading {
  padding-top: 0;
}

.panel-list {
}

.panel-heading {
  border-top: 1px solid rgb(224, 224, 224);
  padding: 7px 0 3px 0;
  margin-top: 5px;
}
.panel-heading.first {
  position: relative;
  top: 0px;
  margin-top: 0;
}
.panel-label {
  color: rgb(97, 97, 97);
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.panel-item {
  padding: 10px 15px;
  cursor: default;
}
.panel-item.selected {
  color: white;
  background: rgb(56, 121, 217);
}

.panel-tools {
  border-bottom: 1px solid lightgray;
  height: 20px;
}

.tool-button {
  display: block;
  float: left;
  background: rgb(243, 243, 243);
  cursor: pointer;
  padding: 4px 6px;
}

.tool-button:hover {
  background: lightgray;
}

.tool-button.on {
  color: rgb(54, 117, 217);
}

.unit-test-content {
  position: relative;
  height: 160px;
  top: -190px;
  margin-bottom: -190px;
  padding: 15px;
  white-space: pre;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Monaco;
  transition: all 0.3s ease;
  background: rgb(230, 230, 230);
}

.unit-test-content.on {
  top: 0;
  margin-bottom: 0;
  transition: all 0.3s ease;
}