.message-view {
    .message-properties {
        padding-left: 10px;

        li {
            padding-left: 10px;
        }
    }

    .command {
        li {
            padding-left: 10px;
        }
    }
}
