li[role="treeitem"] {
    button.copy-node-value {
        display: none;

        font-size: 11px;
        font-family: Menlo, monospace;
        line-height: 12px;

        padding: 0px 3px;
        border-radius: 3px;
        border: 1px solid #c3c3c3;
        margin-left: 10px;
        height: 14px;

        background-color: #f2f2f2;

        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    > div {
        &:hover {
            button.copy-node-value {
                display: inline-block;
            }
        }
    }
}
